@media (max-width: 1052px) {
  .teacher__desc--small-width,
  .teacher__heading--name-short {
    display: block;
  }

  .teacher__desc--big-width,
  .teacher__heading--name-long {
    display: none;
  }
}

@media (max-width: 797px) {
  .nav__big {
    display: none;
  }

  .nav__small {
    display: block;
  }

  .info .info-body {
    flex-direction: column;
    align-items: center;
  }

  .info .info-body .body-content,
  .info .info-body .body-data {
    width: 100%;
  }

  .info .info-body .body-data {
    margin-top: 56px;

    text-align: center;
  }

  .info .info-body .body-content .desc2,
  .info .info-body .body-content .desc3 {
    padding-top: 20px;
  }
}
